<?xml version="1.0" encoding="UTF-8"?>

<!-- NOTE: It should not be necessary to change this file to set logging levels. Logging levels can be configured
in environment specific application.properties files. This file is just here to set the rolling file appender. It
uses default values for max history days and size cap but those should also be overwritten in application.properties. -->


<configuration>
	<springProperty scope="context" name="loggingLevelConsole" source="logging.level.console" defaultValue="OFF" />
	<springProperty scope="context" name="loggingLevelFile" source="logging.level.file" defaultValue="ERROR" />
	<springProperty scope="context" name="loggingLevelRoot" source="logging.level.root" defaultValue="ERROR" />
	<springProperty scope="context" name="logDirectory" source="log.dir" defaultValue="/logs" />
	<springProperty scope="context" name="applicationName" source="spring.application.name" defaultValue="spring-application-name-not-set"/>
	<springProperty scope="context" name="maxHistoryDays" source="logging.max.history.days" defaultValue="30" />
	<springProperty scope="context" name="totalSizeCap" source="logging.total.size.cap" defaultValue="1GB" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
		  <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50}:%line - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>${loggingLevelConsole}</level>
    		</filter>
  	</appender>
	<appender name="RollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logDirectory}/${applicationName}/${applicationName}.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50}:%line - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>${loggingLevelFile}</level>
    		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDirectory}/${applicationName}/${applicationName}-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>${maxHistoryDays}</maxHistory>
			<totalSizeCap>${totalSizeCap}</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<root level="${loggingLevelRoot}">
	    	<appender-ref ref="STDOUT" />
	    	<appender-ref ref="RollingAppender" />
  	</root>
</configuration>